{# Avoid attempt to add more of stock capacity #}
<a href="#alert-stock-modal" class="modal-trigger">
    <span class="activ-red is-max-stock">
        {% if cartline.product.stock == 1 %}
        ({{ cartline.product.stock }} produit en stock)
        {% else %}
        ({{ cartline.product.stock }} produits en stock)
        {% endif %}
    </span>
</a>

<div id="alert-stock-modal" class="modal">
    <div class="modal-content">
        <p>Vous recevrez votre commande en deux temps, en attendant le réapprovosionnement de stocks
        <p>
    </div>
</div>