
<section class="register-form">

    <h1>M'enregistrer sur My Market</h1>
    <p>Cliquez sur le lien ci-dessous pour valider votre inscription sur My Market</p>

    <a href="{{ email_verifier_url }}">Valider mon inscription</a>
    
</section>