<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container text-darken-4">
            <span>© 2023 My Market</span>
            <a class="grey-text text-darken-4 right not-anim" href="https://pydonze.fr" target="_blank">By PYD</a>
        </div>
    </div>
</footer>