/*
 ***************************
ADMIN
 ***************************
 */
/*
 ***************************
ADMIN DASHBOARD
 ***************************
 */
.admin-main-section-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;

    .tab {
        padding: 1em;
    }

    .flex-left {
        padding: 2em;
        border-left: solid 1px var(--text-color);
        border-right: solid 1px var(--text-color);
        border-radius: 15px;
    }
}

/*
 ***************************
ADMIN STOCK
 ***************************
 */
.stock-input {
    width: 2rem !important;
    max-width: 4rem !important;
    font-weight: bold;
}

.stock-input.activ-red {
    color: red !important;
}

/*
 ***************************
ADMIN PRODUCTS
 ***************************
 */
.add-images-form .flex-left-right {
    display: flex;
    flex-direction: column;
}

.add-images-form .flex-left-right .flex-left {
    display: flex;
    flex-direction: column;
}

.search-label {
    margin-right: 1.3em;
}
.admin-search-product {
    display: flex !important;
    .select-wrapper {
        margin-right: 2em;
        margin-top: 23px;
    }

    h6 {
        text-align: center;
    }
}
#search_product_query {
    margin-top: 23px;
    width: 150px;
}

/*
 ***************************
ADMIN USER
 ***************************
 */
.admin-user-infos {
    @include xs {
        flex-direction: column;
    }

    @include sm {
        flex-direction: column;
    }
}