/*
 ***************************
ADMIN
 ***************************
 */
/*
 ***************************
ADMIN DASHBOARD
 ***************************
 */

.admin-main-section-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;

    @include xs {
        margin-top: 3em;
    }

    @include sm {
        margin-top: 3em;
    }

    .tab {
        padding: 1em;
    }

    .flex-left {
        padding: 2em;
        border-left: solid 1px var(--text-color);
        border-right: solid 1px var(--text-color);
        border-radius: 15px;
    }
}

/*
 ***************************
ADMIN STOCK
 ***************************
 */
.stock-input {
    width: 2rem !important;
    max-width: 4rem !important;
    font-weight: bold;
}

.stock-input.activ-red {
    color: red !important;
}

/*
 ***************************
ADMIN PRODUCTS
 ***************************
 */
.add-images-form .flex-left-right {
    display: flex;
    flex-direction: column;
}

.add-images-form .flex-left-right .flex-left {
    display: flex;
    flex-direction: column;
}

.search-label {
    margin-right: 1.3em;
}

/*
 ***************************
ADMIN USER
 ***************************
 */
section.admin-user-show {
    overflow-y: hidden;
    @include xs {
        overflow-y: scroll;
    }

    @include sm {
        overflow-y: scroll;
    }

    .flex-left-right .flex-left {
        @include xs {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include sm {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
        }
    }
}

.admin-user-infos {
    .flex-right {
        margin-right: 2em;
    }

    @include xs {
        flex-direction: column;
    }

    @include sm {
        flex-direction: column;
    }
}

.homepage-management-section {
    margin: 0 15em;

    @include xs {
        margin: 0 2em;
    }

    @include sm {
        margin: 0 2em;
    }

    @include md {
        margin: 0 5em;
    }

    @include lg {
        margin: 0 6em;
    }
}

.categoy-order-input {
    width: 25px !important;
}

/*
 ***************************
SEARCH
 ***************************
 */

.admin-search-user,
.admin-search-product {
    display: flex !important;

    .select-wrapper {
        margin-right: 2em;
        margin-top: 23px;
    }

    h6 {
        text-align: center;
    }
}

#search_user_query,
#search_product_query {
    margin-top: 23px;
    width: 150px;
}