/*
 ***************************
CART NAV
 ***************************
 */

section.cart {
    padding-left: 2em;
    padding-right: 2em;   
    @include xs {
        padding-left: 0;
        padding-right: 0;
    } 
    @include sm {
        padding-left: 0;
        padding-right: 0;
    }
}

#dropdown-cart {
    overflow: hidden;

    @include xs {
        margin: 0;
        width: 100%;
    }

    @include xs {
        margin: 0;
        width: 100%;
    }
}

.cart-modal-content {
    overflow-y: scroll;
    background-color: var(--body-bg);
    color: var(--text-color);
}

.cart-product-front {
    padding-left: 2em;
    height: 28px;
}

.cart-product-front.--title {
    font-size: 1.5em;
}

.remove-from-cart-session {
    cursor: pointer;
}

.cart-front-total-price {
    text-align: end;
    margin-top: 5em;
    font-weight: bold;
}

#modal-footer-cart {
    background-color: var(--body-bg);
}

/*
 ***************************
CART
 ***************************
 */
.total-cart-container {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.3em;
    span {
        color: var(--secondary-color);
    }
}

.total-cart {
    margin-left: 1em;
    margin-right: .3em;
}

.cart .flex-left-right .flex-left,
.cart .flex-left-right .flex-right,
.cart .flex-left-right .flex-middle {
    display: flex;
    align-items: center;
    width: 33%;
}

.cart .flex-left-right .flex-right {
    justify-content: flex-end;
}

.cartline-frontend .flex-left-right {
    @include xs {
        flex-direction: row !important;
    }

    @include sm {
        flex-direction: row !important;
    }
}

.cart-quantity-container {
    display: flex;
}

.cart-quantity {
    font-weight: bold;
    margin: 0 .5em;
}

.quantity-span-label {
    @include xs {
        display: none;
    }

    @include sm {
        display: none;
    }
}

.img-cart img {
    width: 50px;
}

/*
 ***************************
CART ADDRESSES
 ***************************
 */

.address-cart .flex-left,
.address-cart .flex-right {
    flex-direction: column;
    width: 50% !important;

    @include xs {
        width: 100% !important;
    }

    @include sm {
        width: 100% !important;
    }
}

.address-cart .flex-right {
    justify-content: center !important;
}

.card-address {
    background-color: transparent !important;
}

.card-address-selected {
    border: solid 1px var(--text-color);
}
