.main-section {
    margin: 0 !important;

    .starring-product-img {
        width: 100%;
    }

    .starring-product .flex-left-right .flex-right {
        text-align: end;
        padding-right: 2em;
        @include md {
            flex-direction: column;
        }

        @include xs {
            text-align: center;
            padding-right: 0;
        }

        @include sm {
            text-align: center;
            padding-right: 0;
        }
    }

    .big-title {
        padding: 4em;
        h1 {
            font-size: 5em;
            font-weight: bold;
        }
    }
}

.bannertop {
    height: 40px;
    margin-top: 47px;
    background-color: rgba(0, 0, 0, 0.473);
    color: var(--text-color);
    text-align: center;
    font-weight: 200;
    font-size: 1.3em;
}

.main-category-title {
    margin-left: 35px;
}

.section-main-products-container {
    overflow-x: auto;
    height: 50vh !important;

    .row {
        display: flex;
    }
}