@import "./responsive";

:root {
    --body-bg: rgb(231, 231, 231);
    --text-color: rgb(29, 27, 27);
    --primary-color: #b1af3cd3;
    --secondary-color: #efeeb4;
    --hover-color: #ffd800;
}

/*
 ***************************
 GENERAL
 ***************************
 */

body {
    background: var(--body-bg);
    overflow-y: hidden;
    height: 100vh;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea,
.required,
.input-textarea,
.span-italic,
.nav-link,
.infos,
table,
select,
select option,
ul li,
.alert,
.custom-btn {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color) !important;
}

section {
    height: 100vh;
    overflow-y: auto;
    padding: 2em 4em 10em 4em;
}

.control-flex {
    display: flex;
}

.custom-btn {
    margin: 2em;
    font-weight: bold;
}

.custom-link {
    text-decoration: underline;
    &:hover {
        color: var(--hover-color);
    }
}

.activ-green {
    color: green;
    font-weight: bold;
}
.activ-red {
    color: red;
    font-weight: bold;
}

/*
 ***************************
MAIN
 ***************************
 */

/*
 ***************************
NAV
 ***************************
 */
#dropdownUser {
    width: 158.031px !important;
    left: 1138.97px !important;
}

/*
 ***************************
PRODUCTS
 ***************************
 */
.product-img-small {
    width: 250px;
}

.product-img-very-small {
    width: 50px;
}

/*
 ***************************
PAYMENT
 ***************************
 */
.section-payment {
    color: var(--primary-color);
}


/*
 ***************************
FORM
 ***************************
 */
.register-form {
    padding: 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}