@import "./responsive";

:root {
    --body-bg: rgb(231, 231, 231);
    --text-color: rgb(29, 27, 27);
    --primary-color: #b1af3cd3;
    --secondary-color: #efeeb4;
    --hover-color: #ffd800;
}

/*
 ***************************
 GENERAL
 ***************************
 */

body {
    background: var(--body-bg);
    overflow-y: hidden;
    height: 100vh;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
input::placeholder,
textarea,
.required,
.input-textarea,
.span-italic,
.nav-link,
.infos,
table,
select,
select option,
ul li,
.alert,
.custom-btn {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color) !important;
}

h1 {
    font-size: 3.6rem;
}

.italic {
    font-style: italic;
}

.tab:hover,
.navlink:hover,
.dropdown-trigger:hover,
.modal-trigger:hover {
    background-color: var(--secondary-color);
}

section {
    height: 80vh;
    overflow-y: auto;
    margin: 4em 4em 10em 4em;

    @include xs {
        margin: 2em 2em 5em 2em;
    }

    @include sm {
        margin: 2em 2em 5em 2em;
    }
}

.control-flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-left-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include xs {
        flex-direction: column;
    }
    @include sm {
        flex-direction: column;
    }
}

.admin-user-infos {
    @include xs {
        flex-direction: column;
    }

    @include sm {
        flex-direction: column;
    }
}

.custom-link {
    text-decoration: underline;

    &:hover {
        color: var(--hover-color);
    }
}

.activ-green {
    color: green;
    font-weight: bold;
}

.activ-orange {
    color: orange;
    font-weight: bold;
}

.activ-red {
    color: red;
    font-weight: bold;
}

th,
td {
    text-align: center;
}

li {
    display: flex;
    margin-top: .5em;
}

textarea {
    height: 350px;
}

/*
 ***************************
MAIN
 ***************************
 */

/*
 ***************************
BUTTONS
 ***************************
 */
.custom-btn {
    margin: 2em;
    font-weight: bold;
}

.activator {
    cursor: pointer;
}

.add-one-product-btn,
.remove-one-product-btn {
    font-size: 1.4em;
    font-weight: bold;
}

.add-to-cart-show-btn {
    display: flex;
    font-weight: bold;
}

/*
 ***************************
NAV
 ***************************
 */
.modal-user-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-categories {
    display: flex;
    justify-content: center;
}

.nav-content {
    @include xs {
        display: none;
    }

    @include sm {
        display: none;
    }
}


/*
 ***************************
PRODUCTS
 ***************************
 */

section.product-show {
    margin: 4em 18em;

    @include xs {
        margin: 2em 2em 5em 2em;
    }

    @include sm {
        margin: 2em 2em 5em 2em;
    }
}

.row-cards {
    display: flex;
    flex-wrap: wrap;
}

.col-flex {
    width: 240px;
    margin: 0 1em;
}

.card-image {
    max-height: 225px;

    img {
        max-height: 225px;
    }
}


.product-img-small {
    width: 250px;
}

.product-img-very-small {
    width: 50px;
}

.product-img-show {
    width: 340px;
}

.price {
    font-weight: bold;
    font-size: 1.3em;
}

.price-big {
    font-weight: bold;
    font-size: 2em;
}


/*
 ***************************
USER RATE
 ***************************
 */
 .userRate {
    font-weight: bold;
    font-size: 2em;
 }



/*
 ***************************
CART NAV
 ***************************
 */
#dropdown-cart {
    overflow: hidden;

    @include xs {
        margin: 0;
        width: 100%;
    }

    @include xs {
        margin: 0;
        width: 100%;
    }
}

.cart-modal-content {
    overflow-y: scroll;
    color: var(--text-color);
}

.cart-product-front {
    padding-left: 2em;
    height: 28px;
}

.cart-product-front.--title {
    font-size: 1.5em;
}

.hr-cart {
    height: 1px;
    border: 0;
    width: 90%;
    margin: 20px auto;
    background: rgb(226, 226, 226);
    background: radial-gradient(circle,
            rgb(14, 13, 13) 0%,
            rgba(255, 255, 255, 0.144) 50%,
            rgba(228, 224, 224, 0) 100%);
}

.remove-from-cart-session {
    cursor: pointer;
}

.cart-front-total-price {
    text-align: end;
    margin-top: 5em;
    font-weight: bold;
}

/*
 ***************************
CART
 ***************************
 */
.total-cart-container {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.3em;
}

.total-cart {
    margin-left: 1em;
    margin-right: .3em;
}

.cart .flex-left-right .flex-left,
.cart .flex-left-right .flex-right,
.cart .flex-left-right .flex-middle {
    display: flex;
    align-items: center;
    width: 33%;
}

.cart .flex-left-right .flex-right {
    justify-content: flex-end;
}

.cart-quantity-container {
    display: flex;
}

.cart-quantity {
    font-weight: bold;
    margin: 0 .5em;
}

.quantity-span-label {
    @include xs {
        display: none;
    }

    @include sm {
        display: none;
    }
}

.img-cart img {
    width: 50px;
}

/*
 ***************************
ORDER
 ***************************
 */
.collapsible>li {
    display: flex;
    flex-direction: column;
}

/*
 ***************************
PAYMENT
 ***************************
 */
.section-payment {
    color: var(--primary-color);
}


/*
 ***************************
FORM
 ***************************
 */
.register-form {
    padding: 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

/*
 ***************************
ADMIN
 ***************************
 */
/*
 ***************************
MAIN MENU SECTION
 ***************************
 */
.admin-main-section-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .tab {
        padding: 1em;
        margin-bottom: 1em;
    }
}