/*
***********************************
MEDIA QUERIES
***********************************
*/
.main-section {
  margin: 0 !important;
}

.main-section .starring-product-img {
  width: 100%;
}

.main-section .starring-product .flex-left-right .flex-right {
  text-align: end;
  padding-right: 2em;
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-section .starring-product .flex-left-right .flex-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .main-section .starring-product .flex-left-right .flex-right {
    text-align: center;
    padding-right: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .main-section .starring-product .flex-left-right .flex-right {
    text-align: center;
    padding-right: 0;
  }
}

.main-section .big-title {
  padding: 4em;
}

.main-section .big-title h1 {
  font-size: 5em;
  font-weight: bold;
}

.main-category-title {
  margin-left: 35px;
}

.section-main-products-container {
  overflow-x: auto;
  height: 50vh !important;
}

.section-main-products-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
 ***************************
ADMIN
 ***************************
 */
/*
 ***************************
ADMIN DASHBOARD
 ***************************
 */
.admin-main-section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .admin-main-section-menu {
    margin-top: 3em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .admin-main-section-menu {
    margin-top: 3em;
  }
}

.admin-main-section-menu .tab {
  padding: 1em;
}

.admin-main-section-menu .flex-left {
  padding: 2em;
  border-left: solid 1px var(--text-color);
  border-right: solid 1px var(--text-color);
  border-radius: 15px;
}

/*
 ***************************
ADMIN STOCK
 ***************************
 */
.stock-input {
  width: 2rem !important;
  max-width: 4rem !important;
  font-weight: bold;
}

.stock-input.activ-red {
  color: red !important;
}

/*
 ***************************
ADMIN PRODUCTS
 ***************************
 */
.add-images-form .flex-left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-images-form .flex-left-right .flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-label {
  margin-right: 1.3em;
}

/*
 ***************************
ADMIN USER
 ***************************
 */
section.admin-user-show {
  overflow-y: hidden;
}

@media (min-width: 300px) and (max-width: 576px) {
  section.admin-user-show {
    overflow-y: scroll;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  section.admin-user-show {
    overflow-y: scroll;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  section.admin-user-show .flex-left-right .flex-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  section.admin-user-show .flex-left-right .flex-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: scroll;
  }
}

.admin-user-infos .flex-right {
  margin-right: 2em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .admin-user-infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .admin-user-infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.homepage-management-section {
  margin: 0 15em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .homepage-management-section {
    margin: 0 2em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .homepage-management-section {
    margin: 0 2em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .homepage-management-section {
    margin: 0 5em;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .homepage-management-section {
    margin: 0 6em;
  }
}

.categoy-order-input {
  width: 25px !important;
}

/*
 ***************************
SEARCH
 ***************************
 */
.admin-search-user,
.admin-search-product {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.admin-search-user .select-wrapper,
.admin-search-product .select-wrapper {
  margin-right: 2em;
  margin-top: 23px;
}

.admin-search-user h6,
.admin-search-product h6 {
  text-align: center;
}

#search_user_query,
#search_product_query {
  margin-top: 23px;
  width: 150px;
}

/*
 ***************************
CART NAV
 ***************************
 */
section.cart {
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 300px) and (max-width: 576px) {
  section.cart {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  section.cart {
    padding-left: 0;
    padding-right: 0;
  }
}

#dropdown-cart {
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 576px) {
  #dropdown-cart {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  #dropdown-cart {
    margin: 0;
    width: 100%;
  }
}

.cart-modal-content {
  overflow-y: scroll;
  background-color: var(--body-bg);
  color: var(--text-color);
}

.cart-product-front {
  padding-left: 2em;
  height: 28px;
}

.cart-product-front.--title {
  font-size: 1.5em;
}

.remove-from-cart-session {
  cursor: pointer;
}

.cart-front-total-price {
  text-align: end;
  margin-top: 5em;
  font-weight: bold;
}

#modal-footer-cart {
  background-color: var(--body-bg);
}

/*
 ***************************
CART
 ***************************
 */
.total-cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
  font-size: 1.3em;
}

.total-cart-container span {
  color: var(--secondary-color);
}

.total-cart {
  margin-left: 1em;
  margin-right: .3em;
}

.cart .flex-left-right .flex-left,
.cart .flex-left-right .flex-right,
.cart .flex-left-right .flex-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.cart .flex-left-right .flex-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 300px) and (max-width: 576px) {
  .cartline-frontend .flex-left-right {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .cartline-frontend .flex-left-right {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

.cart-quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-quantity {
  font-weight: bold;
  margin: 0 .5em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .quantity-span-label {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .quantity-span-label {
    display: none;
  }
}

.img-cart img {
  width: 50px;
}

.discount-cart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--text-color);
}

/*
 ***************************
CART ADDRESSES
 ***************************
 */
.address-cart .flex-left,
.address-cart .flex-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50% !important;
}

@media (min-width: 300px) and (max-width: 576px) {
  .address-cart .flex-left,
  .address-cart .flex-right {
    width: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .address-cart .flex-left,
  .address-cart .flex-right {
    width: 100% !important;
  }
}

.address-cart .flex-right {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.card-address {
  background-color: transparent !important;
}

.card-address-selected {
  border: solid 1px var(--text-color);
}

/*
 ***************************
PRODUCTS
 ***************************
 */
.products-section h1 {
  text-align: center;
}

section.product-show {
  margin: 3.5rem 15rem 0 15rem;
  padding-right: 2em;
}

section.product-show .flex-left,
section.product-show .flex-right {
  width: 50%;
}

@media (min-width: 300px) and (max-width: 576px) {
  section.product-show .flex-left,
  section.product-show .flex-right {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  section.product-show .flex-left,
  section.product-show .flex-right {
    width: 100%;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  section.product-show {
    margin: 1em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  section.product-show {
    margin: 1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  section.product-show {
    margin: 1em;
  }
}

section.product-show .product-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-flex {
  width: 240px;
  margin: 0 1em;
}

.card {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: var(--body-bg) !important;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 4px 2px var(--text-color);
  box-shadow: 0px 0px 4px 2px var(--text-color);
}

.card-title {
  color: var(--text-color);
}

.card-image {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 180px;
  margin: auto;
  padding-top: 6px;
}

.card-image img {
  max-height: 180px;
  max-width: 240px;
}

.card-action {
  background: #b98e7e;
  border-radius: 20px !important;
}

.card .card-reveal {
  background-color: var(--body-bg) !important;
}

.product-img-small {
  width: 250px;
}

.product-img-very-small {
  width: 80px;
}

.product-img-show {
  width: 340px;
  max-width: 100%;
}

.price {
  font-weight: bold;
  font-size: 1.3em;
}

.price-big {
  font-weight: bold;
  font-size: 2em;
  color: var(--text-color);
}

.product-show-links-anchor {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add-one-product-btn,
.remove-one-product-btn {
  margin: 0 !important;
}

/*
 ***************************
PRODUCTS IMAGES
 ***************************
 */
.mini-gallery {
  padding: 5%;
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.mini-gallery .container-img {
  position: relative;
}

.mini-gallery .container-img img {
  width: 80%;
  display: block;
  margin-top: 1em;
  border-radius: 5px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .mini-gallery {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    margin: 6%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .mini-gallery {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 5em;
            column-gap: 5em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mini-gallery {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 3em;
            column-gap: 3em;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .mini-gallery {
    -webkit-column-count: 4;
            column-count: 4;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
}

.product-quantity span {
  margin-right: 25px;
}

/*
 ***************************
USER RATE
 ***************************
 */
.userRate {
  font-weight: bold;
  font-size: 2em;
}

/*
 ***************************
NAV
 ***************************
 */
.nav,
.nav-extended {
  background-color: var(--navbar-bg) !important;
}

.nav-wrapper,
.nav-wrapper .s12 {
  background-color: var(--body-bg) !important;
}

.navlink {
  font-weight: 700 !important;
}

.modal {
  margin: auto;
  background: rgba(0, 0, 0, 0.377);
  border-radius: 5px;
}

.modal .modal-content li .navlink {
  color: var(--primary-color) !important;
  font-size: 1.5em;
}

.modal .modal-content li .navlink:hover {
  color: var(--text-color) !important;
  background-color: var(--hover-color);
}

.modal.open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.tab {
  font-weight: 700;
  padding: 0 1em !important;
}

.tab:hover,
.cart-nav:hover,
nav ul li a:hover,
.navlink:hover {
  background-color: var(--hover-color) !important;
  border-radius: 5px;
}

.transparent {
  -webkit-box-shadow: 0 0 0 0 transparent !important;
          box-shadow: 0 0 0 0 transparent !important;
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-fixed {
    height: 10vh !important;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .navbar-fixed {
    height: 10vh !important;
  }
}

@media (min-width: 1280px) {
  .navbar-fixed {
    height: 10vh !important;
  }
}

.navbar {
  background-color: var(--navbar-bg) !important;
}

.modal-user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 300px) and (max-width: 576px) {
  .nav-content {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .nav-content {
    display: none;
  }
}

.sidenav {
  background-color: var(--navbar-bg);
  height: 100%;
  overflow-y: auto;
}

.sidenav h6 {
  font-weight: bold;
}

.sidenav li a {
  width: 100%;
}

.breadcrumb::before {
  color: var(--text-color) !important;
}

/*
MOBILE
*/
#mobile-nav {
  padding: 1.5em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .ariane {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .ariane {
    display: none;
  }
}

/*
 ***************************
SEARCH BAR
 ***************************
 */
@media (min-width: 300px) and (max-width: 576px) {
  #searchBarDesktop {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #searchBarDesktop {
    display: none;
  }
}

/*
 ***************************
USER DASHBOARD
 ***************************
 */
.user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.user-account .tab {
  padding: 1em;
  margin-bottom: 1em;
}

.user-account .flex-left {
  padding: 2em;
  border-left: solid 1px var(--text-color);
  border-right: solid 1px var(--text-color);
  border-radius: 15px;
}

:root {
  --body-bg: #b98e7e;
  --navbar-bg: #c8aa9f;
  --text-color: rgb(255, 255, 255);
  --primary-color: #ffffffd3;
  --secondary-color: #1b1504;
  --hover-color: #c79464;
  --alert-bg: rgba(0, 0, 0, 0.603);
}

/*
 ***************************
 GENERAL
 ***************************
 */
body,
html {
  height: 100%;
}

body {
  background: var(--body-bg);
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scroll-x {
  overflow-x: auto;
}

.right-bg-img {
  position: absolute;
  bottom: -1em;
  right: 0em;
  z-index: -2;
}

.brand-logo {
  z-index: 2000;
  margin-left: 23px;
  margin-top: 20px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .brand-logo {
    margin-top: 25px;
    margin-left: 0;
    width: 45px;
    left: 50% !important;
    top: -33%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .brand-logo {
    margin-top: 25px;
    margin-left: 0;
    width: 45px;
    left: 50% !important;
    top: -33%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .brand-logo {
    display: none !important;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .brand-logo a img {
    width: 78px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .brand-logo a img {
    width: 78px;
  }
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
input::-webkit-input-placeholder,
.InputElement,
textarea,
.required,
.input-textarea,
.span-italic,
.infos,
table,
select,
select option,
ul li,
.alert,
.custom-btn {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color) !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
input:-ms-input-placeholder,
.InputElement,
textarea,
.required,
.input-textarea,
.span-italic,
.infos,
table,
select,
select option,
ul li,
.alert,
.custom-btn {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color) !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
input::-ms-input-placeholder,
.InputElement,
textarea,
.required,
.input-textarea,
.span-italic,
.infos,
table,
select,
select option,
ul li,
.alert,
.custom-btn {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color) !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
input::placeholder,
.InputElement,
textarea,
.required,
.input-textarea,
.span-italic,
.infos,
table,
select,
select option,
ul li,
.alert,
.custom-btn {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color) !important;
}

h1 {
  font-size: 3.6rem;
}

@media (min-width: 300px) and (max-width: 576px) {
  h1 {
    font-size: 2em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

.center-title {
  text-align: center;
}

.italic {
  font-style: italic;
}

.tab:hover,
.navlink:hover,
.dropdown-trigger:hover,
.modal-trigger:hover {
  background-color: var(--secondary-color);
}

input:focus {
  border-bottom: 1px solid var(--hover-color) !important;
}

input[type="checkbox"]:not(:checked) {
  opacity: 1;
}

section {
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: auto;
  margin: 5em;
  padding-bottom: 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 300px) and (max-width: 576px) {
  section {
    margin: 1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  section {
    margin: 1em;
  }
}

.control-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-left-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 576px) {
  .flex-left-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .flex-left-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.custom-link {
  text-decoration: underline;
}

.custom-link:hover {
  color: var(--hover-color);
}

.activ-green {
  color: green !important;
  font-weight: bold;
}

.activ-orange {
  color: orange !important;
  font-weight: bold;
}

.activ-red {
  color: red !important;
  font-weight: bold;
}

th,
td {
  text-align: center;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5em;
}

textarea {
  height: 350px;
}

.collapsible,
.collapsible-header {
  background-color: var(--body-bg) !important;
}

.hr-cart {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: #e2e2e2;
  background: radial-gradient(circle, #faebeb 0%, rgba(255, 255, 255, 0.144) 50%, rgba(228, 224, 224, 0) 100%);
}

.hr-title {
  border: solid 1px var(--text-color);
}

/*
 ***************************
BUTTONS
 ***************************
 */
.custom-btn {
  margin: 1em 0;
  font-weight: bold;
  background: var(--body-bg);
  border: 0.1em solid var(--text-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-btn:hover {
  background-color: var(--hover-color) !important;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-btn:active {
  background-color: var(--hover-color) !important;
}

.activator {
  cursor: pointer;
}

.add-one-product-btn,
.remove-one-product-btn {
  font-size: 1.4em;
  font-weight: bold;
}

.add-to-cart-show-btn {
  background-color: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

.btn-floating.halfway-fab {
  bottom: 7px !important;
  background-color: var(--navbar-bg) !important;
}

.btn-floating .material-icons {
  -webkit-filter: invert(1) !important;
          filter: invert(1) !important;
}

.btn-floating .material-icons:hover {
  -webkit-filter: invert(0) !important;
          filter: invert(0) !important;
}

.card-action a:hover {
  font-weight: bold !important;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #1bc01b !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: var(--text-color) !important;
}

/*
 ***************************
ALERT / FLASH MESSAGE
 ***************************
 */
.alert,
.alert-success {
  background-color: var(--alert-bg);
  border: none;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1200;
  font-size: 2.5em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .alert,
  .alert-success {
    font-size: 1.8em;
  }
}

.display-none {
  display: none;
}

#card-errors,
#errors {
  color: red !important;
}

/*
 ***************************
SPINNER LOADING ANIMATION
 ***************************
 */
.animation-loading-container {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.411);
  width: 100%;
  height: 100vh;
  z-index: 2000;
}

.lds-dual-ring {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*
 ***************************
LOGIN SECTION
 ***************************
 */
.login-section {
  margin: 3em 15em;
}

@media (min-width: 300px) and (max-width: 576px) {
  .login-section {
    margin: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .login-section {
    margin: 0;
  }
}

/*
 ***************************
ORDER
 ***************************
 */
.collapsible > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collapsible-orders {
  width: 402px;
  height: 37vh;
  overflow-y: scroll;
}

@media (min-width: 576px) and (max-width: 768px) {
  .collapsible-orders {
    width: 100%;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .collapsible-orders {
    width: 100%;
  }
}

/*
 ***************************
PAYMENT
 ***************************
 */
.section-payment {
  color: var(--primary-color);
}

/*
 ***************************
FORM
 ***************************
 */
.register-form {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.add-images-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*
 ***************************
FOOTER
 ***************************
 */
.page-footer {
  background-color: var(--navbar-bg);
  padding-top: 0 !important;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */