/*
***********************************
MEDIA QUERIES
***********************************
*/
:root {
  --body-bg: rgb(231, 231, 231);
  --text-color: rgb(29, 27, 27);
  --primary-color: #b1af3cd3;
  --secondary-color: #efeeb4;
  --hover-color: #ffd800;
}

/*
 ***************************
 GENERAL
 ***************************
 */
body {
  background: var(--body-bg);
  overflow-y: hidden;
  height: 100vh;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea,
.required,
.input-textarea,
.span-italic,
.nav-link,
.infos,
table,
select,
select option,
ul li,
.alert,
.custom-btn {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color) !important;
}

.tab:hover,
.navlink:hover,
.dropdown-trigger:hover,
.modal-trigger:hover {
  background-color: var(--secondary-color);
}

section {
  height: 100vh;
  overflow-y: auto;
  margin: 4em 4em 10em 4em;
}

.control-flex {
  display: flex;
}

.flex-left-right {
  display: flex;
  justify-content: space-between;
}

.custom-link {
  text-decoration: underline;
}
.custom-link:hover {
  color: var(--hover-color);
}

.activ-green {
  color: green;
  font-weight: bold;
}

.activ-red {
  color: red;
  font-weight: bold;
}

/*
 ***************************
MAIN
 ***************************
 */
/*
 ***************************
BUTTONS
 ***************************
 */
.custom-btn {
  margin: 2em;
  font-weight: bold;
}

.activator {
  cursor: pointer;
}

/*
 ***************************
NAV
 ***************************
 */
.nav-categories {
  display: flex;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 576px) {
  .nav-content {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .nav-content {
    display: none;
  }
}

/*
 ***************************
PRODUCTS
 ***************************
 */
.row-cards {
  display: flex;
  flex-wrap: wrap;
}

.col-flex {
  width: 240px;
  margin: 0 1em;
}

.card-image {
  max-height: 225px;
}
.card-image img {
  max-height: 225px;
}

.product-img-small {
  width: 250px;
}

.product-img-very-small {
  width: 50px;
}

.price {
  font-weight: bold;
  font-size: 1.3em;
}

/*
 ***************************
CART NAV
 ***************************
 */
#dropdown-cart {
  overflow: hidden;
}

.cart-modal-content {
  overflow-y: scroll;
  color: var(--text-color);
}

.cart-product-front {
  padding-left: 2em;
  height: 28px;
}

.cart-product-front.--title {
  font-size: 1.5em;
}

.hr-cart {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: rgb(226, 226, 226);
  background: radial-gradient(circle, rgb(14, 13, 13) 0%, rgba(255, 255, 255, 0.144) 50%, rgba(228, 224, 224, 0) 100%);
}

.remove-from-cart-session {
  cursor: pointer;
}

.cart-front-total-price {
  text-align: end;
  margin-top: 5em;
  font-weight: bold;
}

/*
 ***************************
CART
 ***************************
 */
.total-cart {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.cart .flex-left-right .flex-left,
.cart .flex-left-right .flex-right {
  display: flex;
  align-items: center;
}

.img-cart img {
  width: 50px;
}

/*
 ***************************
PAYMENT
 ***************************
 */
.section-payment {
  color: var(--primary-color);
}

/*
 ***************************
FORM
 ***************************
 */
.register-form {
  padding: 10%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

/*
 ***************************
ADMIN
 ***************************
 */
/*
 ***************************
MAIN MENU SECTION
 ***************************
 */
.admin-main-section-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.admin-main-section-menu .tab {
  padding: 1em;
  margin-bottom: 1em;
}/*# sourceMappingURL=style.css.map */