@import "./responsive";

:root {
    --body-bg: #e7e7e7;
    --text-color: rgb(29, 27, 27);
    --primary-color: #ffffffd3;
    --secondary-color: #efeeb4;
    --hover-color: #ffd800;
    --btn-hover: #ffe033;
    --alert-bg: rgba(0, 0, 0, 0.603);
}

/*
 ***************************
 GENERAL
 ***************************
 */

body {
    background: var(--body-bg);
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
input::placeholder,
textarea,
.required,
.input-textarea,
.span-italic,
.infos,
table,
select,
select option,
ul li,
.alert,
.custom-btn {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color) !important;
}

h1 {
    font-size: 3.6rem;
}

.italic {
    font-style: italic;
}

.tab:hover,
.navlink:hover,
.dropdown-trigger:hover,
.modal-trigger:hover {
    background-color: var(--secondary-color);
}

section {
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: auto;
    margin: 0 4em;
    padding-top: 3em;
    flex-grow: 1;
    @include xs {
        margin: 1em;
        padding-top: 0;
    }
    
    @include sm {
        margin: 1em;
        padding-top: 0;
    }
}

.control-flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-left-right {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include xs {
        flex-direction: column;
    }

    @include sm {
        flex-direction: column;
    }
}

.admin-user-infos {
    @include xs {
        flex-direction: column;
    }

    @include sm {
        flex-direction: column;
    }
}

.custom-link {
    text-decoration: underline;

    &:hover {
        color: var(--hover-color);
    }
}

.activ-green {
    color: green;
    font-weight: bold;
}

.activ-orange {
    color: orange;
    font-weight: bold;
}

.activ-red {
    color: red;
    font-weight: bold;
}

th,
td {
    text-align: center;
}

li {
    display: flex;
    margin-top: .5em;
}

textarea {
    height: 350px;
}

/*
 ***************************
MAIN
 ***************************
 */

/*
 ***************************
BUTTONS
 ***************************
 */
.btn:hover {
    background-color: var(--btn-hover);
 }
.custom-btn {
    margin: 2em;
    font-weight: bold;
}

.activator {
    cursor: pointer;
}

.add-one-product-btn,
.remove-one-product-btn {
    font-size: 1.4em;
    font-weight: bold;
}

.add-to-cart-show-btn {
    display: flex;
    font-weight: bold;
    width: max-content !important;
}

.btn-floating.halfway-fab {
    bottom: 7px !important;
}

.btn-floating .material-icons {
    filter: invert(1) !important;
    &:hover {
        filter: invert(0) !important;
    }
}

.card-action a:hover {
    font-weight: bold !important;
}

/*
 ***************************
ALERT / FLASH MESSAGE
 ***************************
 */
.alert,
.alert-success {
    background-color: var(--alert-bg);
    border: none;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1200;
    font-size: 2.5em;

    @include xs {
        font-size: 1.8em;
    }

    @include sm {
        font-size: 1.8em;
    }
}

/*
 ***************************
SPINNER LOADING ANIMATION
 ***************************
 */
.animation-loading-container {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100vh;
    z-index: 2000;
}

.lds-dual-ring {
    position: absolute;
    top: 40%;
    left: 50%;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
 ***************************
LOGIN SECTION
 ***************************
 */
 .login-section {
    margin: 3em 15em;
    @include xs {
        margin: 0;
    }
    @include sm {
        margin: 0;
    }
 }

/*
 ***************************
NAV
 ***************************
 */
.nav,
.nav-extended,
.nav-wrapper
{
     background-color: var(--body-bg) !important;
}

#dropdownUser {
    background: rgba(0, 0, 0, 0.377);
    border-radius: 5px;
    .modal-content li .navlink {
        color: var(--primary-color) !important;
        font-size: 1.5em;
        &:hover {
            color: var(--text-color) !important;
            background-color: var(--hover-color);
        }
    }
}

.tab:hover,
.cart-nav:hover,
nav ul li a:hover,
.navlink:hover {
    background-color: var(--hover-color) !important;
    border-radius: 5px;
}

.transparent {
    box-shadow: 0 0 0 0 transparent !important;
}

.navbar-fixed {
    height: 10vh !important;
}
.modal-user-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-categories {
    display: flex;
    justify-content: center;
}

.nav-content {
    @include xs {
        display: none;
    }

    @include sm {
        display: none;
    }
}


/*
 ***************************
PRODUCTS
 ***************************
 */

section.product-show {
    margin: 4em 15em;

    .flex-left,
    .flex-right {
        width: 50%;

        @include xs {
            width: 100%;
        }

        @include sm {
            width: 100%;
        }
    }

    @include xs {
        margin: 1em;
    }

    @include sm {
        margin: 1em;
    }
}

.row-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-flex {
    width: 240px;
    margin: 0 1em;
}

.card-image {
    width: max-content;
    height: 180px;
    margin: auto;

    img {
        max-height: 180px;
        max-width: 240px;
    }
}

.product-img-small {
    width: 250px;
}

.product-img-very-small {
    width: 50px;
}

.product-img-show {
    width: 340px;
    max-width: 100%;
}

.price {
    font-weight: bold;
    font-size: 1.3em;
}

.price-big {
    font-weight: bold;
    font-size: 2em;
}

.product-show-links-anchor {
    justify-content: space-around;
}

/*
 ***************************
PRODUCTS IMAGES
 ***************************
 */
.mini-gallery {
    padding: 5%;
    column-count: 4;
    column-gap: 1em;

    .container-img {
        position: relative;

        img {
            width: 80%;
            display: block;
            margin-top: 1em;
            border-radius: 5px;
        }
    }

    @include xs {
        column-count: 1;
        column-gap: 1em;
        margin: 6%;
    }

    @include sm {
        column-count: 2;
        column-gap: 5em;
    }

    @include md {
        column-count: 3;
        column-gap: 3em;
    }

    @include lg {
        column-count: 4;
        column-gap: 2em;
    }
}


/*
 ***************************
USER RATE
 ***************************
 */
.userRate {
    font-weight: bold;
    font-size: 2em;
}



/*
 ***************************
CART NAV
 ***************************
 */
#dropdown-cart {
    overflow: hidden;

    @include xs {
        margin: 0;
        width: 100%;
    }

    @include xs {
        margin: 0;
        width: 100%;
    }
}

.cart-modal-content {
    overflow-y: scroll;
    color: var(--text-color);
}

.cart-product-front {
    padding-left: 2em;
    height: 28px;
}

.cart-product-front.--title {
    font-size: 1.5em;
}

.hr-cart {
    height: 1px;
    border: 0;
    width: 90%;
    margin: 20px auto;
    background: rgb(226, 226, 226);
    background: radial-gradient(circle,
            rgb(14, 13, 13) 0%,
            rgba(255, 255, 255, 0.144) 50%,
            rgba(228, 224, 224, 0) 100%);
}

.remove-from-cart-session {
    cursor: pointer;
}

.cart-front-total-price {
    text-align: end;
    margin-top: 5em;
    font-weight: bold;
}

/*
 ***************************
CART
 ***************************
 */
.total-cart-container {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.3em;
}

.total-cart {
    margin-left: 1em;
    margin-right: .3em;
}

.cart .flex-left-right .flex-left,
.cart .flex-left-right .flex-right,
.cart .flex-left-right .flex-middle {
    display: flex;
    align-items: center;
    width: 33%;
}

.cart .flex-left-right .flex-right {
    justify-content: flex-end;
}

.cart-quantity-container {
    display: flex;
}

.cart-quantity {
    font-weight: bold;
    margin: 0 .5em;
}

.quantity-span-label {
    @include xs {
        display: none;
    }

    @include sm {
        display: none;
    }
}

.img-cart img {
    width: 50px;
}

/*
 ***************************
ORDER
 ***************************
 */
.collapsible>li {
    display: flex;
    flex-direction: column;
}

.collapsible-orders {
    height: 46vh;
    overflow-y: scroll;
}

/*
 ***************************
PAYMENT
 ***************************
 */
.section-payment {
    color: var(--primary-color);
}


/*
 ***************************
FORM
 ***************************
 */
.register-form {
    padding: 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.add-images-form {
    display: flex;
    flex-direction: column;
}

/*
 ***************************
ADMIN
 ***************************
 */
/*
 ***************************
MAIN MENU SECTION
 ***************************
 */
.admin-main-section-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;

    .tab {
        padding: 1em;
        margin-bottom: 1em;
    }

    .flex-left {
        padding: 2em;
        border-left: solid 1px var(--text-color);
        border-right: solid 1px var(--text-color);
        border-radius: 15px;
    }
}