{% extends 'base.html.twig' %}

{% block title %}Editer le produit{% endblock %}

{% block body %}
<section>
    <h1>Modifier le produit</h1>
    
        {{ include('admin/product/_form.html.twig', {'button_label': 'Mise à jour'}) }}
        
        {{ include('admin/product/_delete_form.html.twig') }}

    <br />

    <a href="{{ path('admin_products') }}" class="custom-link">Retour à la liste des produits</a>
</section>
{% endblock %}
