{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}

{% block body %}

<section class="admin-main-section-menu">
    <div class="tab">
        <a href="{{ path('admin_categories') }}">Gérer les catégories</a>
    </div>
    <div class="tab">
        <a href="{{ path('admin_products') }}">Gérer les produits</a>
    </div>
</section>

{% endblock %}