{% extends 'base.html.twig' %}

{% block body %}
<h1>Une erreur s'est produite</h1>
<p>
    Veuillez contacter l'administrateur du site.
    <a href="{{ path('main') }}" class="custom-link">Retourner sur la page d'accueil</a>.
</p>
{% endblock %}