{% extends 'base.html.twig' %}

{% block body %}
<section>
    <center>
        <br><br>
        <div class="container">
            <div class="big-text">
                <h1>Erreur 403, accès limité à l'adimistrateur</h1>
            </div>
            <br><br>
            <hr class="hr-white">
            <br><br>
            <p>
                La page que que vous cherchez est inaccessible, cliquez <a href="{{ path('main') }}">ici</a> pour
                retourner à
                l'accueil.
            </p>
        </div>
    </center>
</section>
{% endblock %}