{% extends 'base.html.twig' %}

{% block title %}Confirmation paiement{% endblock %}

{% block body %}

<section>
    <div class="thanks">
        <h3>Merci de votre achat</h3>
        <p>Nous confirmons la validation du paiement</p>
    </div>
    <div class="flex-center">
        <a href="{{ path('orders') }}" class="custom-btn">Voir mes commandes</a>
    </div>
</section>

{% endblock %}