{% extends 'base.html.twig' %}

{% block title %}Confirmation paiement{% endblock %}

{% block body %}

<section>
    <div class="thanks">
        <h3>Merci de votre achat</h3>
        <p>Nous confirmons la validation du paiement</p>
    </div>
</section>

{% endblock %}