{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}

<section class="section-payment">
    <h1>Paiement sécurisé</h1>
    <br/>
    <h5>Les paiements sont gérés et sécurisés par la plateforme <a href="https://stripe.com/">Stripe</a>.</h5>
    <br />
    <br />
    <div id="errors"></div>

    <input type="text" id="cardholder-name" placeholder="Titulaire de la carte">
    <div id="card-elements"></div>

    <div id="card-errors" role="alert"></div>

    <button id="card-button" class="btn custom-btn" type="button" data-secret="{{ intentSecret }}" >Procéder au paiement</button>
</section>
    
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ asset('assets/js/payment.js') }}"></script>
{% endblock %}