{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}

<section class="section-payment">
    <h1>Paiement de {{ total }} €</h1>
    <br/>
    <h5>Les paiements sont gérés et sécurisés par la plateforme <a href="https://stripe.com/" class="custom-link">Stripe</a>.</h5>
    <br />
    <h6><b>ATTENTION ! </b>Ce site ne propose pas de vrais article à la vente, vous ne recevrez rien même si vous payez. Pour effectuer une simulation de paiement, entrez un faux titulaire de carte (ex. Jean Dupont) ainsi que "4242 4242 4242 4242" pour le numéro de carte (ce que vous voulez pour le reste).</h6>
    <br />
    <div id="errors"></div>

    <input type="text" id="cardholder-name" placeholder="Titulaire de la carte">
    <div id="card-elements"></div>

    <div id="card-errors" role="alert"></div>

    <button id="card-button" class="btn custom-btn" type="button" data-secret="{{ intentSecret }}">Procéder au paiement</button>
</section>
    
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ asset('assets/js/payment.js') }}"></script>
{% endblock %}