{% extends 'base.html.twig' %}

{% block title %}Modifier mes infos{% endblock %}

{% block body %}
<section>
<nav class="ariane">
    <div class="nav-wrapper transparent">
        <div class="col s12">
            <a href="{{ path('user_account', {'id':user.id}) }}" class="breadcrumb">Mes infos</a>
            <a href="#!" class="breadcrumb not-anim">Modifier</a>
        </div>
    </div>
</nav>
<h1>Modifier Mes informations</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_account', {"id":app.user.id}) }}" class="btn custom-btn">Retourner à mon compte</a>
</section>

{% endblock %}