{% extends 'base.html.twig' %}

{% block title %}Admin gestion page d'accueil{% endblock %}

{% block body %}
<section class="homepage-management-section">
    <nav class="ariane">
        <div class="nav-wrapper transparent">
            <div class="col s12">
                <a href="{{ path('admin_dashboard') }}" class="breadcrumb">Admin</a>
                <a href="#!" class="breadcrumb not-anim">Page d'accueil<a>
            </div>
        </div>
    </nav>

    <h1>Gérer la page d'accueil</h1>

    <div class="flex-left-right">
        <div class="flex-left">
            {# Change Order of categories #}
            {% include "admin/manage_homepage/_order.category.html.twig" %}
        </div>

        <div class="flex-right">
            {# Starring product management #}
            {% include "admin/manage_homepage/_starring.product.html.twig" %}

            <hr class="hr-cart">

            {# Promo Banner Message #}
            {% include "admin/manage_homepage/_banner.promo.html.twig" %}
        </div>
    </div>
</section>

<script src="{{ asset('assets/js/homepageManagement.js') }}"></script>
{% endblock %}