{% extends 'base.html.twig' %}

{% block title %}Modifier l'adresse{% endblock %}

{% block body %}
<section>

    <h1>Modifier l'adresse</h1>
    
    {{ include('address/_form.html.twig') }}
    
</section>
{% endblock %}
