<ul class="sidenav" id="mobile-nav">
    <div class="search-bar" id="searchBarMobile">
        <form id="search-form" method="POST" action="{{ path('search_product') }}">
            <input autocomplete="on" class="search-field" id="search-text" name="search" type="text"
                placeholder="Rechercher un produit" />
            <input style="display: none;" type="submit" value="" />
        </form>
    </div>

    <h6>Catégories</h6>
    {% for category in categories %}
    <li><a href="{{ path('products_by_category', {'id':category.id}) }}" class="navlink dark-text text-darken-1">{{
            category.name }}</a></li>
    {% endfor %}

    <hr class="hr-cart">

    <h6>Nous connaître</h6>
    <li><a href="#" class="navlink">Notre entreprise</a></li>
    <li><a href="#" class="navlink">Notre boutique</a></li>
    <li><a href="#" class="navlink">Nous contacter</a></li>

    <hr class="hr-cart">

    <li><a href="#" class="navlink">CGV</a></li>

</ul>