{# NAV SEARCHBAR #}
<div class="search-bar" id="searchBarDesktop">
    <form id="search-form" method="POST" action="{{ path('search_product') }}">
        <input autocomplete="on" class="search-field" id="search-text" name="search" type="text"
            placeholder="Rechercher un produit" />
        <input style="display: none;" type="submit" value="" />
    </form>
</div