<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper navbar darken-3">
            <div class="brand-logo">
                <a href="{{ path('main') }}">
                    <img src="{{ asset('assets/images/mymarket-logo.png') }}" alt="logo">
                </a>
            </div>

            {# MOBILE SIDENAV TRIGGER #}
            <a href="#" data-target="mobile-nav" class="sidenav-trigger not-anim"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right">

                {# NAV SEARCHBAR #}
                <li>
                    {% include "nav/_nav_search.html.twig" %}
                </li>

                {# TRIGGERS #}
                <li>
                    <a id="cart-nav" class="modal-trigger not-anim" href="#dropdown-cart">
                        <i class="material-icons">shopping_cart</i>
                    </a>
                </li>
                <li>
                    <a class='modal-trigger not-anim' href='#' data-target='dropdownUser'>
                        <i class="material-icons">person</i>
                    </a>
                </li>

                {# CART NAV #}
                {% include "nav/_nav_cart.html.twig" %}

                {# DROPDOWN USER #}
                {% include "nav/_nav_user.html.twig" %}
                
                {# DROPDOWN CATEGORIES #}
                {% include "nav/_nav_categories.html.twig" %}
        </div>

        {# TRIGGERS #}
        <div class="nav-content">
            <ul class="tabs tabs-transparent nav-categories">
                <li>
                    <a class='tab modal-trigger not-anim' href='#' data-target='dropdownCategories'>
                        Boutique
                    </a>
                </li>
                <li>
                    <a href="{{ path('contact') }}" class="tab">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

{# MOBILE #}
{% include "nav/_mobile_nav.html.twig" %}